.popup__content-form_form_name {
    margin-bottom: 30px;
    width: 358px;
    height: 27px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 767px) {
    .popup__content-form_form_name {
        width: 238px;
        height: 27px;
    }
}