.page {
    background: black;
    font-family: 'Inter', 'Arial', sans-serif;
    max-width: 880px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .page {
        margin: 0;
    }
}