.footer {
    max-width: 318px;
    margin: 66px 0 60px;
    padding: 0;
}

@media screen and (max-width: 1025px) {
    .footer {
        margin-left: 63px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 28px 19px 36px;
        max-width: 282px;
    }
}